<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <img src="{{ info.image }}" alt="Mars_Image">
    <h2>Mars information:</h2>
    <h3>latest_article_desc: {{ info.latest_article_desc }}</h3>
    <a href="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"> <img src="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars" alt="Featured Mars Image"> {{ info.featured_image_url }}></a>
    <h3>new_var: {{ info.new_var }}</h3>
    <h3>html_table: {{ info.html_table }}</h3>
    <h3>hemisphere_image_urls: {{ info.hemisphere_image_urls }}</h3>
  </div>
  </div>
</body>

</html>